body{
    background-color: rgb(160, 115, 115);
}
.logo{
    width: 150px;
}
cap1{
    width: 205px;
}
cap2{
    width: 205px;
}
cap3{
    width: 250px;
    width: 205px;
}
body{
    background-color: rgb(165, 162, 162);
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(148, 78, 78, 0.479);
    border-radius: 10px;
    opacity: 0.9;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
nav a:hover{
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 5px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.37);
    border: 1 px solid rgba(0, 0, 0, 0.37);
    text-decoration: underline;
}
nav img{
    width: 150px;
  border-radius: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.cards{
    background-color: #C9B1BD;
    margin: 20px;
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #0e0101;
}
.card img{
    width: 100%;
}

.card-content{
    padding: 35px;

}

.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card-content h1{
    text-align: center;
    font-size: 25px;
}
.card h2{
    font-size: 15px;
    text-align: center;
}
.cards:hover{
    transform: scale(1.05);
    background-color: rgb(204, 216, 149);
}
footer{
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgb(122, 110, 110);
     margin-top: 190px;
     gap: 10px;
     
}

@media (width<= 480px){
    nav a{
        flex-direction: column;
    }
   
}
.producto{
    text-align: center;
    background-color: rgba(148, 78, 78, 0.479);
    border-radius: 10px;
}
.todo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-content img{

    width: 400px;
}
